/*
  *********************************** 
                Themes
  ***********************************
*/

/* Light theme */

.light-theme {
    --color-background: #eeeeee;
    --color-header: #e0e0e0;
    --color-panel: #fafafa;
  
    --color-boton-default: #e0e0e0;
    --color-boton-default-hover: #bdbdbd;

    --color-download-button: #adadad;
    --color-download-button-hover: #a1a1a1;

    --color-input-default: #e2dddd;
    --color-input-default-hover: #d8d6d6;

    --color-slider-default-focus: #d1d1d1;
  
    --color-text: #424242;
    
    --color-title-panel: rgb(33 33 33 / 80%);
    --color-title-control: rgb(33 33 33 / 70%);

    --border-radius: 3px;

    --font-weight-default: 500;
}

/* Dark theme */

.dark-theme {
    --color-background: #2A2A3C;
    --color-header: #1A1924;
    --color-panel: #232130;
  
    --color-boton-default: #4e5565;
    --color-boton-default-hover: #393e49;

    --color-download-button: #15141d;
    --color-download-button-hover: #0b0a0f;

    --color-input-default: #343842;
    --color-input-default-hover: #474d5c;
    
    --color-slider-default-focus: #474d5c;

    --color-text: #aaaaaa;

    --border-radius: 3px;

    --font-weight-default: 300;
}

/*
  *********************************** 
             Layout
  ***********************************
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100%;
    display: flex;
    color: var(--color-text);
    overflow: hidden;
    font-family:'Quicksand', sans-serif;
    font-weight: var(--font-weight-default);
    letter-spacing: 2px;
    text-transform: uppercase;
}

main {
    height: 100vh;
    max-width: calc(100% - 275px);
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    height: 18vh;
    text-align: center;
    background-color: var(--color-header);
    padding: 15px 0 15px;
    box-sizing: none;
    transition: 1s ease-in-out;
}

aside {
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
}
  
.editor-container {
    display: flex;
    flex-grow: 1;
}
  
.meme-container {
    height: calc(100vh - 275px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
    padding: 15px 0;
    transition: 1s ease-in-out;
}

.canvas-meme,
.img-meme {
    width:100%;
    height: 100%;
    max-width: 450px;
    max-height: 450px;
    display: flex;

}
.canvas-meme {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.img-meme {
    background-color: black;
}

/* Text */

h1 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

h2 {
    text-align: center;
    font-size: 13px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

p {
    margin: 0;
}  

.label-img,
.label-text {
    display: block;
    font-size: 9px;
    font-weight: var(--font-weight-default);
    color: var(--color-text);
    letter-spacing: 2px;
}

.label-text {
    margin-left: 10px;
}
  
textarea {
    resize: vertical;
    font-size: 9px;
} 

option {
    display: block;
    white-space: pre;
    text-transform: uppercase;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

/* Color picker spans */

span {
    color: var(--color-text);
    font-weight:  var(--font-weight-default);
    cursor: default;
}

.span-image-color {
    position: absolute;
    left: 52px;
    top: 157px;
    transform: translateY(-50%);
    font-size: 10px;
    letter-spacing: 2px;
}

.span-text-color {
    position: absolute;
    left: 52px;
    top: 370px;
    transform: translateY(-50%);
    font-size: 10px;
    letter-spacing: 2px;
}

.span-text-color-background {
    position: absolute;
    left: 175px;
    top: 370px;
    transform: translateY(-50%);
    font-size: 10px;
    letter-spacing: 2px;
}

/* Elements */

input,
button,
select,
textarea {
    border: 0;
    color: var(--color-text);
    background-color: transparent;
    display: block;
    outline: 0;
    font-weight: var(--font-weight-default);
}

/* Meme text */

.text-meme{
    width: 100%;
    height: fit-content;
    background: white;
    color: black;
    text-align: center;
    padding: 17px 20px;
    font-size: 30px;
    font-weight: 800;
    font-family: Courier;
}
  
/* Hidden */

.hidden { 
    display: none !important;
}
 
/*
  *********************************** 
             Components
  ***********************************
*/ 

/* Button */

button { 
    font-family:'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 36px;
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: var(--border-radius);
    outline: none;
}

button:hover,
button:focus {
    background-color: var(--color-boton-default-hover);
}

/* Button download */

.button-download-meme {
    margin-top: 20px;
    background-color: var( --color-download-button);
}

.button-download-meme:hover,
.button-download-meme:focus {
    background-color: var( --color-download-button-hover);
}

/* Buttons header */

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(50%-10px);
    margin-top: 10px;
}

.header-buttons-container .header-button {
    align-self: center;
    display: inline;
    margin: 0 25px;
}

/* Button icons */

i {
    margin-right: 3px;
}


/* Button open-close */

/* checkbox */

.open-close-button {
    width: 30px;
    margin-left: -30px;
    margin-top: 27px;
    z-index: 999;
    opacity: 0;
    cursor: pointer;
    -webkit-touch-callout: none;
}

/* icon */

.fa-plus {
    margin-left: -30px;
    margin-top: 25px;
    height: fit-content;
    z-index: 1;
            transform: rotatex(-45deg);
    -webkit-transform: rotate(-45deg);       
}

.rotate-open,
.rotate-close,
.aside-translate-open,
.aside-translate-close,
.main-translate-open,
.main-translate-close {
    transition: 1s ease-in-out;
}

.rotate-open {
            transform: rotateY(0deg);
    -webkit-transform: rotate(0deg);
            
}

.rotate-close {
            transform: rotateX(-45deg);
    -webkit-transform: rotate(-45deg);    
}
 
/* moving aside and main */

.aside-translate-open {
    margin-left: -275px !important;
}


.aside-translate-close {
    margin-right: -275px !important;
}

.main-translate-open {
    max-width: calc(100% - 275px);
}

.main-translate-close {
    max-width: 100%;
}

/* Button reset */

.button-reset {
    display: flex;
    align-self: center;
    background-color: var(--color-input-default);
}

.button-reset:focus,
.button-reset:hover {
    background-color: var(--color-input-default-hover);
}

/* Button text align */

.button-text-align {
    height: 25px;
    padding: 5px 5px 8px 10px;
    margin-left: 10px;
    background-color: var(--color-input-default);
}

.button-text-align:hover,
.button-text-stroke:hover {
    background-color: var(--color-input-default-hover);
}

/* Button text stroke */

.button-text-stroke {
    height: 25px;
    padding: 0 18px;
    background-color: var(--color-input-default);
    font-size: 9px;
    font-weight: var(--font-weight-default);
    letter-spacing: 2px;
}

/* Panel control */

.panel-control {
    min-width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color-panel);
    padding: 25px 20px 0px 20px;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    transition: 1s ease-in-out;
}

.panel-control-container {
    margin-bottom: 20px;
}

/* Panel control title */

.panel-control-title {
    color: var(--color-title-control);
    width: 100%;
    font-size: 10px;
    letter-spacing: 2px;
    margin: 0;
}

/* Panel control flex row and column */

.panel-control-flex-row {
    display: flex;
    flex-direction: row;
    margin-top: 9px;
}

.panel-control-column {
    display: flex;
    flex-direction: row;
}

/* Panel control color, color-background, blend-mode */

.panel-control-color,
.panel-control-blend-mode,
.panel-control-color-background {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.panel-control-color {
    margin-right: 5px;
}

.panel-control-blend-mode,
.panel-control-color-background {
    margin-left: 5px;
}

/* Panel control input */

.panel-control-input,
.panel-control-select {
    width: 100%;
    height: 25px;
    background-color: var(--color-input-default);
    border-radius: var(--border-radius);
    margin-top: 9px;
    font-family:'Quicksand', sans-serif;
    font-weight: var(--font-weight-default);
    font-size: 9px;
    letter-spacing: 2px;
}

.panel-control-input {
    padding: 6px 0px 5px 10px ;
}

.panel-control-input::placeholder {
    font-family:'Quicksand', sans-serif;
    font-size: 9px;
    font-weight: var(--font-weight-default);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-text);
}

.panel-control-input:focus::placeholder {
    color: transparent;
}

.panel-control-input:hover,
.panel-control-input:focus {
    background-color: var(--color-input-default-hover);
}

/* Panel control select */

select {
    text-transform: uppercase;
    -moz-appearance: none;
}

.panel-control-select {
    font-weight: var(--font-weight-default);
    padding: 5px 7px;
}

/* Panel control sliders */

.panel-control-slider {
    padding: 8px 0;
    box-sizing: content-box;
}

.panel-control-text-size-align{
    display: flex;
    flex-direction: row;
}

/* Inputs */

/* Input checkbox */

[type="checkbox"] {
    cursor: pointer;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    cursor: pointer;
}

.panel-checkbox {
    position: absolute;
    opacity: 0;
}

label:before {
    margin-left: -10px;
}

.panel-checkbox + label:before {
    content: '';
    margin-right: 10px;
    border-radius: var(--border-radius);
    display: inline-block;
    vertical-align: text-top;
    width: 13px;
    height: 13px;
    background: var(--color-input-default);
}

.panel-checkbox:hover + label:before {
    box-shadow: var(--color-input-default-hover);
}

.panel-checkbox:checked + label:after {
    content: '✕';
    font-weight: 800;
    -webkit-text-stroke: 1px;
    position: absolute;
    left: -0.798em;
    top: 0.725em;
    font-size: 1em;
    color: var(--color-text);
    line-height: 0;
            transition: all .2s;
    -webkit-transition: all .2s;
}

.panel-checkbox:not(:checked) + label:after {
    opacity: 0;
            transform: scale(0) rotate(45deg);
    -webkit-transform: scale(0) rotate(45deg);
}

.panel-checkbox:checked + label:after {
    opacity: 1;
            transform: scale(1) rotate(0);
    -webkit-transform: scale(1) rotate(0);
}

/* Input color */

input[type="color"] {
	-webkit-appearance: none;
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type='color']::-webkit-color-swatch {
    max-width: 10px;
    max-height: 12px;
    border-radius: 50px;
    border: 0;
    margin: 2px 2px 2px -2px; 
    padding: 0;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

/* Input number */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

/* Input range */

input[type='range'] {
    width: 100%;
    background-color: var(--color-input-default);
    border-radius: 12px;
    appearance: none;
    height: 2px;
    margin-top: 12px;
    transition: 0.3s;
}

input[type='range']:focus {
    height: 2px;
    background-color: var(--color-slider-default-focus);
    transition: 0.6s ease-in-out;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: var(--color-panel);
    border: 2px solid var(--color-input-default);
    cursor: pointer;
}

input[type='range']:focus::-webkit-slider-thumb {
    border: 2px solid var(--color-slider-default-focus);
    background: var(--color-slider-default-focus);
}

/*
  *********************************** 
            Responsiveness
  ***********************************
*/

/* Breakpoint 1 at 800px */

@media (max-width: 800px) {
    #aside-container {
        display: none;
    }

    main {
        max-width: 100%;
    }

    #open-close-button,
    #open-close-button-icon {
        display: none;
    }
}
